div{
    height: 600px;
    padding: 20px;
    margin: 10px 0;
}
.color{
    background: linear-gradient(white,green);
}
.img{
    background-image: url(./img/1logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
}
.attach{
    background-image: url(./img/3.png);
    background-attachment: fixed;
}
.position{
    background-image: url(./img/whatsapp\ dp\ image6-601.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-position: 600px;
}