*{
    margin: 0;
    padding: 0;
}
div{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./img/wordpress-589121.jpg);
    background-size: cover;
    background-position: center;
}